In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.enableHiveSupport().appName('AmazonReviewRcommender').getOrCreate()
sc = spark.sparkContext

### Load kcore_5.json

In [4]:
# Load kcore_5.json
df = spark.read.json("/user/ywang27/data_final/kore_5.json")

In [16]:
df.show(2)

+----------+-------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|      asin|helpful|overall|          reviewText| reviewTime|    reviewerID|reviewerName|             summary|unixReviewTime|
+----------+-------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
|0000013714| [0, 0]|    4.0|We use this type ...| 12 3, 2013| ACNGUPJ3A3TM9|         GCM|         Nice Hymnal|    1386028800|
|0000013714| [2, 3]|    5.0|I bought this for...|09 13, 2009|A2SUAM1J3GNN3B| J. McDonald|Heavenly Highway ...|    1252800000|
+----------+-------+-------+--------------------+-----------+--------------+------------+--------------------+--------------+
only showing top 2 rows

In [17]:
df.printSchema()

root
 |-- asin: string (nullable = true)
 |-- helpful: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- overall: double (nullable = true)
 |-- reviewText: string (nullable = true)
 |-- reviewTime: string (nullable = true)
 |-- reviewerID: string (nullable = true)
 |-- reviewerName: string (nullable = true)
 |-- summary: string (nullable = true)
 |-- unixReviewTime: long (nullable = true)

### Write to Hive

In [4]:
from pyspark.sql import HiveContext
hive_context = HiveContext(sc)

In [22]:
hive_context.sql("use ywang27")
hive_context.sql("show tables").show()
hive_context.sql("drop table if exists kcore_5")

+--------+--------------------+-----------+
|database|           tableName|isTemporary|
+--------+--------------------+-----------+
| ywang27|      chicago_crimes|      false|
| ywang27|  chicago_crimes_orc|      false|
| ywang27|chicago_crimes_sm...|      false|
| ywang27|chicago_crimes_sm...|      false|
| ywang27|             kcore_5|      false|
+--------+--------------------+-----------+

DataFrame[]

In [23]:
df.write.mode('overwrite').saveAsTable('kcore_5')

In [25]:
hive_context.sql("select count(*) from kcore_5").show()

+--------+
|count(1)|
+--------+
|41135700|
+--------+

### Load metadata.json

In [5]:
df1 = spark.read.json("/user/ywang27/data_final/metadata/metadata.json")

In [19]:
df1.show(2)

+---------------+----------+-----+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
|_corrupt_record|      asin|brand|          categories|         description|               imUrl|price|             related|           salesRank|               title|
+---------------+----------+-----+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
|           null|0001048791| null|           [[Books]]|                null|http://ecx.images...| null|                null|[,,,,, 6334800,,,...|The Crucible: Per...|
|           null|0000143561| null|[[Movies & TV, Mo...|3Pack DVD set - I...|http://g-ecx.imag...|12.99|[, [B0036FO6SI, B...|[,,,,,,,,,,,,,,,,...|Everyday Italian ...|
+---------------+----------+-----+--------------------+--------------------+--------------------+-----+--------------------+--------------------+--------------------+
only showing top 2 rows

In [20]:
df1.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- asin: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: array (containsNull = true)
 |    |    |-- element: string (containsNull = true)
 |-- description: string (nullable = true)
 |-- imUrl: string (nullable = true)
 |-- price: double (nullable = true)
 |-- related: struct (nullable = true)
 |    |-- also_bought: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- also_viewed: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- bought_together: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- buy_after_viewing: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- salesRank: struct (nullable = true)
 |    |-- Appliances: long (nullable = true)
 |    |-- Arts, Crafts & Sewing: long (nullable = true)
 |    |-- Automotive: long (nullable = true)
 |    |-- Baby: long (nullable = true)
 |    |-- Beauty: long (nullable = true)
 |    |-- Books: long (nullable = true)
 |    |-- Camera &amp; Photo: long (nullable = true)
 |    |-- Cell Phones & Accessories: long (nullable = true)
 |    |-- Clothing: long (nullable = true)
 |    |-- Computers & Accessories: long (nullable = true)
 |    |-- Electronics: long (nullable = true)
 |    |-- Gift Cards Store: long (nullable = true)
 |    |-- Grocery & Gourmet Food: long (nullable = true)
 |    |-- Health & Personal Care: long (nullable = true)
 |    |-- Home &amp; Kitchen: long (nullable = true)
 |    |-- Home Improvement: long (nullable = true)
 |    |-- Industrial & Scientific: long (nullable = true)
 |    |-- Jewelry: long (nullable = true)
 |    |-- Kitchen & Dining: long (nullable = true)
 |    |-- Magazines: long (nullable = true)
 |    |-- Movies & TV: long (nullable = true)
 |    |-- Music: long (nullable = true)
 |    |-- Musical Instruments: long (nullable = true)
 |    |-- Office Products: long (nullable = true)
 |    |-- Patio, Lawn & Garden: long (nullable = true)
 |    |-- Pet Supplies: long (nullable = true)
 |    |-- Prime Pantry: long (nullable = true)
 |    |-- Shoes: long (nullable = true)
 |    |-- Software: long (nullable = true)
 |    |-- Sports &amp; Outdoors: long (nullable = true)
 |    |-- Toys & Games: long (nullable = true)
 |    |-- Video Games: long (nullable = true)
 |    |-- Watches: long (nullable = true)
 |-- title: string (nullable = true)

### Join metadata with kcore_5

In [6]:
df2 = df.join(df1, df.asin == df1.asin, "inner").select(
    df.asin, 
    df.helpful,
    df.overall, 
    df.reviewText, 
    df.reviewerID,
    df1.categories,
    df1.price,
    df1.related,
    df1.title
)

In [6]:
df2.show(5)

+----------+-------+-------+--------------------+--------------+----------+-----+--------------------+---------------+
|      asin|helpful|overall|          reviewText|    reviewerID|categories|price|             related|          title|
+----------+-------+-------+--------------------+--------------+----------+-----+--------------------+---------------+
|0002216973| [1, 1]|    5.0|And to me, there'...| AESMLAZX4PI6L| [[Books]]| null|[, [0812823354, 0...|Red Adam's Lady|
|0002216973| [1, 1]|    5.0|From the dust jac...| AMVV8VYDTLA78| [[Books]]| null|[, [0812823354, 0...|Red Adam's Lady|
|0002216973| [1, 1]|    5.0|There are only a ...| AHCOCJHM388I7| [[Books]]| null|[, [0812823354, 0...|Red Adam's Lady|
|0002216973| [0, 0]|    5.0|I bought this boo...| ACUJMLOJEVYTB| [[Books]]| null|[, [0812823354, 0...|Red Adam's Lady|
|0002216973| [0, 0]|    5.0|I was looking out...|A39CS2IZHTQVJH| [[Books]]| null|[, [0812823354, 0...|Red Adam's Lady|
+----------+-------+-------+--------------------+--------------+----------+-----+--------------------+---------------+
only showing top 5 rows

In [7]:
df2.count()

33282097

### Number of items per categories

In [34]:
categories_num: list = df2.groupBy(df2.categories[0][0]).count().sort("count", ascending=False).collect()

In [35]:
categories_num

[Row(categories[0][0]='Books', count=9115768),
 Row(categories[0][0]='Electronics', count=3398224),
 Row(categories[0][0]='Clothing, Shoes & Jewelry', count=2059979),
 Row(categories[0][0]='Movies & TV', count=1989636),
 Row(categories[0][0]='Home & Kitchen', count=1985213),
 Row(categories[0][0]='Health & Personal Care', count=1468117),
 Row(categories[0][0]='Cell Phones & Accessories', count=1297057),
 Row(categories[0][0]='Apps for Android', count=1295382),
 Row(categories[0][0]='Sports & Outdoors', count=1260001),
 Row(categories[0][0]='CDs & Vinyl', count=1234729),
 Row(categories[0][0]='Beauty', count=932096),
 Row(categories[0][0]='Tools & Home Improvement', count=859274),
 Row(categories[0][0]='Toys & Games', count=833469),
 Row(categories[0][0]='Grocery & Gourmet Food', count=665808),
 Row(categories[0][0]='Pet Supplies', count=643913),
 Row(categories[0][0]='Video Games', count=581174),
 Row(categories[0][0]='Office Products', count=580039),
 Row(categories[0][0]='Automotive', count=455249),
 Row(categories[0][0]='Patio, Lawn & Garden', count=432274),
 Row(categories[0][0]='Baby', count=417403),
 Row(categories[0][0]='Amazon Instant Video', count=317234),
 Row(categories[0][0]='Arts, Crafts & Sewing', count=203775),
 Row(categories[0][0]='Musical Instruments', count=157539),
 Row(categories[0][0]=None, count=135394),
 Row(categories[0][0]='Software', count=125194),
 Row(categories[0][0]='', count=122966),
 Row(categories[0][0]='Digital Music', count=119346),
 Row(categories[0][0]='Industrial & Scientific', count=114430),
 Row(categories[0][0]='Buy a Kindle', count=101808),
 Row(categories[0][0]='Baby Products', count=79401),
 Row(categories[0][0]='Appliances', count=66353),
 Row(categories[0][0]='Amazon Fashion', count=30819),
 Row(categories[0][0]='All Electronics', count=28868),
 Row(categories[0][0]='Kindle Store', count=24788),
 Row(categories[0][0]='Kitchen & Dining', count=19149),
 Row(categories[0][0]='Magazine Subscriptions', count=15068),
 Row(categories[0][0]='Luxury Beauty', count=14383),
 Row(categories[0][0]='All Beauty', count=13630),
 Row(categories[0][0]='Gift Cards', count=13033),
 Row(categories[0][0]='Computers', count=11066),
 Row(categories[0][0]='Home Improvement', count=10726),
 Row(categories[0][0]='MP3 Players & Accessories', count=9481),
 Row(categories[0][0]='Appstore for Android', count=8025),
 Row(categories[0][0]='Amazon Fire TV', count=4574),
 Row(categories[0][0]='Car Electronics', count=4135),
 Row(categories[0][0]='Christian', count=3640),
 Row(categories[0][0]='Office & School Supplies', count=3595),
 Row(categories[0][0]='Davis', count=2025),
 Row(categories[0][0]='Miscellaneous', count=1752),
 Row(categories[0][0]='Alternative Rock', count=1565),
 Row(categories[0][0]='Classical', count=1448),
 Row(categories[0][0]='GPS & Navigation', count=1336),
 Row(categories[0][0]='Dance & Electronic', count=1094),
 Row(categories[0][0]='Camera & Photo', count=1070),
 Row(categories[0][0]='Pop', count=1000),
 Row(categories[0][0]='All Credit Cards', count=962),
 Row(categories[0][0]='Amazon Coins', count=643),
 Row(categories[0][0]='International', count=584),
 Row(categories[0][0]='Classic Rock', count=533),
 Row(categories[0][0]='R&B', count=454),
 Row(categories[0][0]='Hard Rock & Metal', count=445),
 Row(categories[0][0]='Rock', count=438),
 Row(categories[0][0]='Purchase Circles', count=415),
 Row(categories[0][0]='Jazz', count=407),
 Row(categories[0][0]='Folk', count=402),
 Row(categories[0][0]='Collectibles & Fine Art', count=377),
 Row(categories[0][0]='Country', count=361),
 Row(categories[0][0]='Gift Cards Store', count=284),
 Row(categories[0][0]='Furniture & D&#233;cor', count=280),
 Row(categories[0][0]='New Age', count=201),
 Row(categories[0][0]='Wine', count=180),
 Row(categories[0][0]='Gospel', count=145),
 Row(categories[0][0]='Broadway & Vocalists', count=142),
 Row(categories[0][0]='Blues', count=141),
 Row(categories[0][0]='Rap & Hip-Hop', count=103),
 Row(categories[0][0]="Children's Music", count=56),
 Row(categories[0][0]='#508510', count=17),
 Row(categories[0][0]='Celebrate your Birthday with Nickelodeon', count=12)]

In [34]:
from pyspark.sql.functions import split, explode, lower

# including stopwords
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

# add some non-sense words
stop_words += ['', "-", "many", '"', "go", "one", "much", "get", "also", "would", "make", "i'm", "i've", "us", "going",
               "could", "made", "every", "another", "things", "may"]

In [27]:
primary_type = "Books"
df_type_review = df2.select("reviewText").where(df2.categories[0][0] == primary_type)
# df2.where(df2.categories[0][0] == primary_type).count()
df_type_review.count()

9115768

In [17]:
# df_type_review_small = df_type_review.select("reviewText").limit(10)
# df_type_review_small.show()

+--------------------+
|          reviewText|
+--------------------+
|And to me, there'...|
|From the dust jac...|
|There are only a ...|
|I bought this boo...|
|I was looking out...|
|Lady Julitta de M...|
|I read this many ...|
|It seems cruel to...|
|I am thrilled to ...|
|Lady Julitta is m...|
+--------------------+

In [28]:
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.pandas/api/pyspark.pandas.DataFrame.explode.html?highlight=explode
# https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.split.html?highlight=split#pyspark.sql.functions.split

# split the text by space and punctuations and convert to multiple rows
df_type_review_word = df_type_review.select(explode(split(lower(df_type_review.reviewText), '[\s,.!?]')).alias('words'))
# df_type_review_word.show(20)

In [29]:
# https://spark.apache.org/docs/latest/api/python/reference/pyspark.pandas/api/pyspark.pandas.groupby.GroupBy.count.html?highlight=count

# count the top 100 word frequency and export to 
df_type_review_word = df_type_review_word.groupBy(
    df_type_review_word.words).count().sort(
    "count", ascending=False)

In [35]:
# https://stackoverflow.com/questions/19960077/how-to-filter-pandas-dataframe-using-in-and-not-in-like-in-sql

# filter out stopwords
df_type_review_word_list = df_type_review_word.select("words", "count").where(
    ~df_type_review_word.words.isin(stop_words)).limit(100).collect()
df_type_review_word_list

[Row(words='book', count=13732763),
 Row(words='read', count=5822660),
 Row(words='story', count=4716296),
 Row(words='like', count=3362411),
 Row(words='love', count=2834388),
 Row(words='good', count=2803945),
 Row(words='books', count=2526700),
 Row(words='great', count=2510268),
 Row(words='really', count=2509898),
 Row(words='characters', count=2342866),
 Row(words='well', count=2204127),
 Row(words='time', count=2201773),
 Row(words='reading', count=2128869),
 Row(words='first', count=2093579),
 Row(words='series', count=2008353),
 Row(words='life', count=1935587),
 Row(words='author', count=1769646),
 Row(words='way', count=1750145),
 Row(words='even', count=1733428),
 Row(words='know', count=1506699),
 Row(words='could', count=1482603),
 Row(words='people', count=1408585),
 Row(words='new', count=1359971),
 Row(words='little', count=1334096),
 Row(words='think', count=1328763),
 Row(words='see', count=1267291),
 Row(words='find', count=1248848),
 Row(words='two', count=1228120),
 Row(words='loved', count=1202201),
 Row(words='want', count=1161350),
 Row(words='end', count=1153358),
 Row(words="i'm", count=1122168),
 Row(words='written', count=1106207),
 Row(words='world', count=1106137),
 Row(words='never', count=1090998),
 Row(words='novel', count=1083232),
 Row(words='found', count=1078210),
 Row(words='things', count=1044521),
 Row(words='enjoyed', count=1036023),
 Row(words='recommend', count=1025858),
 Row(words='back', count=1021328),
 Row(words='character', count=1016274),
 Row(words='next', count=1008670),
 Row(words='still', count=992448),
 Row(words='work', count=976782),
 Row(words='interesting', count=967185),
 Row(words='going', count=947760),
 Row(words='us', count=938897),
 Row(words='best', count=926774),
 Row(words='lot', count=920921),
 Row(words='another', count=920370),
 Row(words='writing', count=915736),
 Row(words='made', count=912271),
 Row(words='years', count=907461),
 Row(words='put', count=897194),
 Row(words='say', count=892882),
 Row(words="can't", count=892764),
 Row(words='better', count=880371),
 Row(words='stories', count=847766),
 Row(words='every', count=838598),
 Row(words='family', count=835568),
 Row(words='something', count=829729),
 Row(words='though', count=808637),
 Row(words='thought', count=794836),
 Row(words='feel', count=783460),
 Row(words='different', count=769280),
 Row(words='always', count=764782),
 Row(words='part', count=761842),
 Row(words='plot', count=753315),
 Row(words='bit', count=751128),
 Row(words='right', count=744555),
 Row(words='makes', count=739309),
 Row(words='reader', count=726388),
 Row(words='take', count=726082),
 Row(words='give', count=719968),
 Row(words='man', count=715743),
 Row(words='real', count=711601),
 Row(words="i've", count=707967),
 Row(words='however', count=703173),
 Row(words='got', count=700485),
 Row(words='easy', count=696864),
 Row(words='enough', count=694662),
 Row(words='help', count=692517),
 Row(words='times', count=686666),
 Row(words='looking', count=686356),
 Row(words='may', count=681361),
 Row(words='keep', count=676735),
 Row(words='need', count=675160),
 Row(words='long', count=673333),
 Row(words='come', count=665831),
 Row(words='must', count=638636),
 Row(words='look', count=636377),
 Row(words='enjoy', count=632433),
 Row(words='wait', count=630322),
 Row(words='romance', count=628810),
 Row(words='old', count=626678),
 Row(words='review', count=625882),
 Row(words='fun', count=616213),
 Row(words='without', count=615798),
 Row(words='ever', count=615344)]

In [14]:
# l = [('Alice', 'sdfj'), ('sdf', 'sdf dfd erew sdf')]
# df_try = spark.createDataFrame(l, ['str1', 'str2'])

In [15]:
# df_try = df_try.select(explode(split(df_try.str2, ' ')).alias('s'))

In [23]:
# df_try.groupBy(df_try.s).count().sort("count", ascending=False).show()

+----+-----+
|   s|count|
+----+-----+
| sdf|    2|
|erew|    1|
|sdfj|    1|
| dfd|    1|
+----+-----+